@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 100 1000;
  src: url('Arimo-VariableFont_wght.woff2') format('woff2');
}

@font-face {
  font-family: 'Arimo';
  font-style: italic;
  font-weight: 100 1000;
  src: url('Arimo-Italic-VariableFont_wght.woff2') format('woff2');
}
