@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  src: url('Ubuntu-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: normal;
  src: url('Ubuntu-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: bold;
  src: url('Ubuntu-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: bold;
  src: url('Ubuntu-BoldItalic.woff2') format('woff2');
}
